@model CalendarApp.Models.Login

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<style>
    .text {
        font-family: 'Berlin Sans FB';
        font-size: 17px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wrapper">
        <div class="login">
            <div>
                <img src="https://lh3.googleusercontent.com/LJLxScyAdpbKbM0bUIk0SuvUfDBfjAYertulRrVQPDUiOPDhkf32Y_Z2amQUW4ZksX7yjg=s170" class="logo"
                     style="height: 50px; display: block;   margin-left: auto;   margin-right: auto; margin-top:5%"> <br>
            </div>
            <div align="center">
                @Html.ValidationSummary(true, "")
                <div class="text">Email </div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "")
            </div>
            <div align="center">
                <div class="text">Password</div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div><br />
            <div style="text-align: center;">
                @Html.EditorFor(model => model.RememberMe)
                @Html.ValidationMessageFor(model => model.RememberMe, "")Remember Me
            </div><br />
            <div>
                <button class="button">Log in</button><br />
                <button class="button">
                    @Html.ActionLink("Register", "Register", "User")
                </button>
            </div>
        </div>
    </div> <!-- wrapper close -->

}
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    <script type="text/javascript">
        $('.logo').tilt({
            glare: true,
            maxglare: .5
        });
    </script>
}