@model CalendarApp.Models.User
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    if (ViewBag.Message != null)
        
    {<br /><br /><br /><div class="wrapper" style="margin-bottom:20%; margin-top:1%;">
    <div class="alert alert-success" style=" margin-bottom:30%; margin-left:1%; margin-right:1%; font-family:'Century Gothic'";>
        <strong>Registration Successful</strong>@ViewBag.Message
    </div>
</div>}
    
}
else
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <style>
            .text {
                font-family: 'Berlin Sans FB';
                font-size: 17px;
            }
        </style>
        <div class="wrapper-reg" style="padding:5%">
            <div class="register">
                <div>
                    <img src="http://www.bio-derm.org/dosyalar/avatar/user.png" alt="user" class="user">
                </div><br />
                <div align="center">
                    @Html.ValidationSummary(true, "")
                    <div class="text">First Name </div>
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div align="center">
                    <div class="text">Last Name </div>
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <div align="center">
                    <div class="text">Email </div>
                    @Html.ValidationMessageFor(model => model.Email)
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessage("EmailExist")
                </div>
                <div align="center">
                    <div class="text">Password </div>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div align="center">
                    <div class="text">Confirm Password </div>
                    @Html.EditorFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div><br />

                <button type="submit" class="button">Register</button>

            </div> <!-- main login -->
        </div> <!-- wrapper close -->
        @*@Html.ActionLink("Register", "Register", "User")*@
        if (ViewBag.Message != null)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong>@ViewBag.Message
            </div>
        }
    }

}
@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}